<!DOCTYPE html>
<html>
    <head>
        <meta-charset="utf-8">
        <title>Complains</title>
    </head>
    <body>
        <h1>COMPLAINS</h1>
        <div class="nav">
            <a href="{% url 'accounts:login' %}">LogIn as Complainant</a><br>
            <a href="{% url 'accounts:signup' %}">SignUp as Complainant</a><br>
            <a href="{% url 'resp:login' %}">LogIn as Respondent</a><br>
            <a href="{% url 'resp:signup' %}">SignUp as Respondent</a><br>
            </div>
    </body>
</html>